<div *ngIf="!authUser; else logout">
    <h1>Login</h1>

    <button mat-raised-button vantageGoogleSignin>
      <img src="/assets/google-logo.svg" /> Login with Google
    </button>

    <h5>OR</h5>
    <vantage-email-login></vantage-email-login>
  </div>
  
  <ng-template #logout>
    <div class="logout">
      <p>
        Logged in as <strong>{{ authUser?.email }}</strong>
      </p>
  
      <button mat-stroked-button (click)="afAuth.signOut()">Logout</button>
    </div>
  </ng-template>

  